<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="example-form mat-elevation-z4">
        <form class="example-form" fxLayout="column">

            <input (change)="base64File($event)" style="margin-top: 20px; padding-left: 2%; padding-right: 2%;"
                type="file" />

            <mat-form-field appearance="outline" style=" margin-top: 20px; padding-left: 2%; padding-right: 2%;">
                <mat-label>Nome do produto</mat-label>
                <input matInput type="text" placeholder="Nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" style=" padding-left: 2%; padding-right: 2%;">
                <mat-label>Descrição do produto</mat-label>
                <input matInput type="text" placeholder="Nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" style=" padding-left: 2%; padding-right: 2%;">
                <mat-label>Cor</mat-label>
                <input matInput type="text" placeholder="Nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" style=" padding-left: 2%; padding-right: 2%;">
                <mat-label>Modelo</mat-label>
                <input matInput type="text" placeholder="Nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" style=" padding-left: 2%; padding-right: 2%;">
                <mat-label>Valor da diária</mat-label>
                <input matInput type="number" placeholder="Nome" name="nome">
            </mat-form-field>

            <mat-form-field appearance="outline" style=" padding-left: 2%; padding-right: 2%;">
                <mat-label>Quantidade no estoque</mat-label>
                <input matInput type="number" placeholder="Nome" name="nome">
            </mat-form-field>
        </form>

        <div style="justify-content: space-between; display: flex;">
            <button style="margin: 20px;" mat-raised-button color="primary">Salvar</button>
            <button mat-raised-button routerLinkActive="router-link-active" color="warn"
                style="margin: 20px;">Cancelar</button>
        </div>

    </mat-card>
</div>